@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars */
body {
  overflow: hidden;
}

/* Hide scrollbars for webkit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for all browsers */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
